@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#root {
  padding: 0;
  width: 100vw;
  height: 100vh;
  padding: 2rem;
  background: #1c1f24ff;
  margin: 0 auto;
}
